@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

html, body {
  background-color: #3D3684;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: #faebd7;
}

h1 {
  text-align: center;
  margin-top: 25%;
}

a {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: #faebd7;
  font-size: 48px;
  text-decoration: none;
}

.container {
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  top: 45%;
  left: 40%;
}

.curves {
  width: 95vw;
  height: 97vh;
  z-index: 1000;
}

.bgimg {
  width: 95vw;
  height: 97vh; 
  z-index: -100;
}


.second {
  position: absolute;
  font-size: 48px;
  font-weight: 400;
  z-index: 100;
  top: 50%;
  left: 45%;
  color: #3D3684;
}

.second:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
  color: #faebd7;
}

.center:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
}

canvas {
  display: block;
}

.topline {
  text-align: center;
  position: absolute;
  top: 1%;
  left: 7%;
  width: 85%;
}

.bottomline {
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 7%;
  width: 85%;
}

.third {
  position: absolute;
  font-size: 48px;
  font-weight: 400;
  z-index: 100;
  top: 50%;
  left: 48%;
  color: #3D3684;
}

.third:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
  color: #faebd7;
}

.four {
  position: absolute;
  font-size: 48px;
  font-weight: 400;
  z-index: 100;
  top:25%;
  left: 48%;
  color: #3D3684;
}

.four:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
  color: #faebd7;
}

.five {
  position: absolute;
  font-size: 48px;
  font-weight: 400;
  z-index: 100;
  top:50%;
  left: 48%;
  color: #3D3684;

}

.five:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
}

.any {
  position: absolute;
  font-size: 250px;
  font-weight: 400;
  z-index: 100;
  top:.5%;
  left: 30%;
  color: #3D3684;
}

.more {
  position: absolute;
  font-size: 250px;
  font-weight: 400;
  z-index: 100;
  bottom: .1%;
  left: 21%;
  color: #3D3684;
}

.any:hover {
  color: #faebd7;
  transition: .5s ease-in-out; 
}

.more:hover {
  color: #faebd7;
  transition: .5s ease-in-out; 
}

.window {
  position: absolute;
  z-index: 100;
  top: 20%;
  left: 35%;
  color: #3D3684;
}

.eightText {
  position: absolute;
  z-index: 110;
  top: 8%;
  left: 25%;
}

.eightText:hover {
  transform: scale(1.15);
  transition: .5s ease-in-out; 
}
